body {
    background-color: PeachPuff;
    background-image: url("back01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui;
}

h1 {
    color: #0a66c2;
}

p {
    color: #0d0c0f;
    line-height: 1.5;
}

#subtitulo {
    color: darkgreen;
    font-size: 20px;
}

.aviso {
    background: #b8e7eb;
    color: #14826c;
    padding: 8px;
    border: 1px solid #14826c;
    border-radius: 4px;
}

.caixa {
    width: 400px;
    min-height: 300px;
    max-width: 100%;
    background: lightgray;
}